.homePage-container {
  position: inherit;
  z-index: 2;
  margin-top: 20vh;
}

.homePage {
  margin-left: 2vh;
  z-index: 3;
  
}

.homepage-picture {
  width: 100%;
}

.homePage-picture img {
  position: absolute;
  margin-top: -7vh;
  width: 23vh;
  right: 1vh;
  border-radius: 4px;
  animation: fade 1.3s cubic-bezier(0.39, -1.05, 0.40, 1.00);
  animation-delay: -0.3s;
  transform-origin: center top;
}

h1 {
  font-weight: 200;
  color: white;
}

h3 {
  color:#8d8d8d;
  font-size: 15px;
}
.homePage-content{
animation: fade 1.3s cubic-bezier(0.39, -1.05, 0.40, 1.00);
animation-delay: -0.1s;
transform-origin: center top;
}

h1 span:nth-child(7) {
  color: #00fd97;
  font-size: 50px;
  animation: animate 6s infinite;
  display: inline-block;
}

h1 span:nth-child(6) {
  margin-right: 4vh;
}

@keyframes animate {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  40% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-100px) rotate(360deg);
  }
  60% {
    transform: translateY(0px) rotate(360deg);
  }
  100% {
    transform: translateY(0px) rotate(360deg);
  }
}

h2 {
  color: white;
  font-weight: 200;
}

h4 {
  line-height: 20px;
  font-weight: 300;
  color: #8d8d8d;
}

.homepage-button {
  padding: 15px 22px;
  background-color: #222;
  color: #00fd97;
  font-size: 10px;
  font-weight: 300;
  border-color: #00fd97;
  margin-top: 30px;
  margin-bottom: 60px;
}

.bracket {
  display: none;
}

@media (min-width: 600px) {
  .homePage-container {
    position: relative;
    margin-top: 12vh;
  }

  .homePage {
    z-index: 5;
    margin-left: 100px;
    color: white;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    
  }

  h1 {
    font-size: 60px;
    font-weight: 400;
    font-weight: 400;
  }

  h1 span:nth-child(6) {
    margin-right: 35px;
  }

  h6 {
    color: white;
    margin-left: 80px;
  }

  h2 {
    font-size: 60px;
    line-height: 53px;
    font-weight: 300;
  }

  h3 {
    color:#8d8d8d;
    font-size: 15px;
  }
  h4 {
    line-height: 30px;
    font-weight: 400;
    font-size: 15px;
    color: #8d8d8d;
  }

  .homepage-button {
    padding: 15px 30px;
    background-color: #222;
    color: #00fd97;
    font-size: 15px;
    font-weight: 300;
    border-color: #00fd97;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  button:hover {
    box-shadow: inset -7px -7px 20px 0 rgb(58, 60, 60),
      inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .bracket {
    color: #00fd97;
    font-size: 70px;
    font-weight: 200;
  }

  .bracket.bracket-down {
    font-weight: 200;
  }
  .homePage-picture {
    position: absolute;
    right: 1vh;
  }

  .homePage-picture img {
    border-radius: 4px;
    width: 30vh;
    animation: fade 1.3s cubic-bezier(0.39, -1.05, 0.40, 1.00);
    animation-delay: -0.3s;
    transform-origin: center top;
  }
}

h1 span:nth-child(7) {
  color: #00fd97;
  font-size: 80px;
  animation: animate 6s infinite;
  display: inline-block;
  font-weight: 300;
}

@keyframes animate {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  40% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-100px) rotate(360deg);
  }
  60% {
    transform: translateY(0px) rotate(360deg);
  }
  100% {
    transform: translateY(0px) rotate(360deg);
  }
}



@media (min-width: 678px) {
  .homePage-picture img {
    width: 30vh;
    top: -1vh;
  }
}
@media (min-width: 744px) {
  .homePage-picture img {
    width: 40vh;
  }
  h4 {
    font-size: 3vh;
  }
}

@media(min-width:768){
  .homePage-picture img {
    width: 25vh;
  }
}
@media (min-width: 1366px) {
  .homePage-picture img {
    width: 38vh;
    margin-right: 5vh;
  }

  h1 {
    font-size: 8vh;
  }

  h2 {
    font-size: 8vh;
  }

  h4 {
    font-size: 2vh;
  }
}

@media (min-width: 1454px) {
  .homePage-picture img {
    width: 44vh;
    margin-right: 15vh;
  }

  h1 {
    font-size: 7vh;
  }

  h2 {
    font-size: 7vh;
  }

  h4 {
    font-size: 2.5vh;
  }

  .homepage-button {
    padding: 20px 40px;
    margin-top: 10vh;
  }

  h1 span:nth-child(7) {
    font-size: 10vh;
  }
}
