.Menu {
  display: flex;
}

.Menu-links {
  display: none;
}

.Menu-links.is-expanded {
  display: flex;
  justify-content: space-between;
  background: #181818;
  width: 100%;
  position: absolute;
  height: 8.5vh;
}

.MenuButton {
  margin: 15px;
  padding: 0px;
  background-color: transparent;
  border: 0;
  top: 0;
}

.MenuButton img {
  width: 5vh;
}
.icon {
  width: 23px;
}
.Menu-link {
  margin: 10px;
}

.Menu-link .home,
.aboutpage,
.mail,
.work{
  display: none;
}

.Menu-link:hover img {
  display: none;
}

.home,
.aboutpage,
.work,
.mail {
  color: #b4f5f0;
}

.Menu-link:hover .home {
  display: block;
  margin-left: 1vh;
  font-weight: 150;
}

.Menu-link:hover .aboutpage {
  display: block;
  margin-left: 1vh;
  font-weight: 150;
}

.Menu-link:hover .work {
  display: block;
  margin-left: 1vh;
  font-weight: 150;
}
.Menu-link:hover .mail {
  display: block;
  font-weight: 150;
}
.logo {
  display: none;
}

@media (min-width: 600px) {
  .Menu {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    background: #181818;
  }

  .Menu-links {
    display: grid;
    grid-gap: 40px;
    position: relative;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;
    margin-left: -5px;
  }

  .Menu-link {
    margin: 5px;
  }

  .icon {
    width: 23px;
    margin-left: 15px;
  }

  .MenuButton {
    display: none;
  }

  .logo {
    font-size: 40px;
    color: #b4f5f0;
    z-index: 6;
    position: absolute;
    margin-left: 15px;
    display: block;
  }

  .Menu-link:hover img {
    display: none;
  }

  .home,
  .aboutpage,
  .work,
  .mail {
    color: #b4f5f0;
  }
  .Menu-link .mail,
  .work,
  .aboutpage,
  .home {
    display: none;
  }

  .Menu-link:hover .home {
    display: block;
    margin-left: 1vh;
    font-size: 14px;
    font-weight: 150;
  }
  .Menu-link:hover .aboutpage {
    display: block;
    font-weight: 150;
    font-size: 14px;
    margin-left: 1vh;
  }
  .Menu-link:hover .work {
    display: block;
    font-size: 14px;
    font-weight: 150;
    margin-left: 1vh;

  }
  .Menu-link:hover .mail {
    display: block;
    font-weight: 150;
    font-size: 14px;
    margin-left: 1vh;

  }
}
