.Menu {
  background: #181818;

}
.Menu-links {
  display: none;
}

.MenuButton {
  background-color: transparent;
  background: none;
  border: none;
  outline: none;
  z-index: 2;
  margin-right: 25px;
}

.MenuButton img {
  width: 40px;
  margin: 5px;
}

.logo {
  display: none;
}

.Menu-links.is-expanded {
  opacity: 1;
  display: flex;
  float: left;
  overflow: hidden;
  text-align: center;
  height: 60px;
  background: #181818;
  width: 100%;
  justify-content: space-evenly;
  z-index: 4;
  transition: all .3s ease-out;
}

.Menu-link img {
  width: 30px;
  margin-top: 10px;
}

.Menu-link .work,
.aboutpage,
.home,
.mail {
  display: none;
}

@media (min-width: 600px) {
  .Menu {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    background: #181818;
    margin-left: 0;
  }

  .Menu-links {
    display: grid;
    grid-gap: 40px;
    position: relative;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;
    margin-left: -5px;
  }

  .Menu-link {
    margin: 5px;
    display: block;
  }

  .Menu-link .icon {
    width: 23px;
    margin-left: 15px;
  }

  .MenuButton {
    display: none;
  }

  .logo {
    font-size: 40px;
    color: #b4f5f0;
    z-index: 6;
    position: absolute;
    margin-left: 15px;
    display: block;
  }

  .Menu-link:hover img {
    display: none;
  }

  .home,
  .aboutpage,
  .work,
  .mail {
    color: #b4f5f0;
  }
  .Menu-link .mail,
  .work,
  .aboutpage,
  .home {
    display: none;
  }

  .Menu-link:hover .home {
    display: block;
    margin-left: 1vh;
    font-size: 14px;
    font-weight: 150;
  }
  .Menu-link:hover .aboutpage {
    display: block;
    font-weight: 150;
    font-size: 14px;
    margin-left: 1vh;
  }
  .Menu-link:hover .work {
    display: block;
    font-size: 14px;
    font-weight: 150;
    margin-left: 1vh;
  }
  .Menu-link:hover .mail {
    display: block;
    font-weight: 150;
    font-size: 14px;
    margin-left: 1vh;
  }
}
