.Menu {
  background: #2A2E35;

}
.Menu-links {
  display: none;
}

.MenuButton {
  background-color: transparent;
  background: none;
  border: none;
  outline: none;
  z-index: 2;
  margin-right: 25px;
}

.MenuButton img {
  width: 33px;
  margin: 5px;
}

.logo {
  display: none;
}

.Menu-links.is-expanded {
  margin-left: 0;
  display: flex;
  float: left;
  overflow: hidden;
  text-align: center;
  height: 60px;
  background: #2A2E35;
  width: 100%;
  justify-content: space-evenly;
  z-index: 4;
  animation: mymove 1.5s ease-in;
  animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
  position: relative;
}

@keyframes mymove {
  from {left: 400px;}
  to   {left: 0px;}
}

.Menu-link img {
  width: 25px;
  margin-top: 10px;
  margin-left: -90px;
}

.Menu-link .work,
.aboutpage,
.home,
.mail:hover {
  display: none;
}

.mail {
  display: none;
}

@media (min-width: 600px) {
  .Menu {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    background: #2A2E35;
    margin-left: 0;
    position: fixed;
  }

  .Menu-links {
    display: grid;
    grid-gap: 40px;
    position: relative;
    height: 210px;
    top: 40%;
    width: 100%;
    margin-left: -5px;
  }

  .Menu-link {
    margin: 5px;
    display: flex;
  }

  .Menu-link .icon {
    width: 23px;
    margin-left: 15px;
  }

  .MenuButton {
    display: none;
  }

  .logo {
    font-size: 40px;
    color: #00fd97;
    z-index: 6;
    position: absolute;
    margin-left: 15px;
    display: block;
  }

  .Menu-link:hover img {
    display: block;
  }

  .home,
  .aboutpage,
  .work,
  .mail {
    color: #00fd97;
  }
  .Menu-link .mail,
  .work,
  .aboutpage, 
  .home {
    display: none;
  }

  .Menu-link:hover 
  .home {
    padding:5px;
    /* position: absolute; */
    display: block;
    margin-left: 7vh;
    border: 1px solid #00fd97;
    border-radius: 2px;
    margin-top: -4vh;
    font-size: 14px;
    font-weight: 150;
  }
  .Menu-link:hover .aboutpage {
    display: block;
    font-weight: 150;
    font-size: 14px;
    padding:5px;
    position: absolute;
    display: block;
    margin-left: 7vh;
    border: 1px solid #00fd97;
    border-radius: 2px;
    margin-top: -4vh;
  }
  .Menu-link:hover .work {
    display: block;
    font-size: 14px;
    font-weight: 150;
    padding:5px;
    position: absolute;
    display: block;
    margin-left: 7vh;
    border: 1px solid #00fd97;
    border-radius: 2px;
    margin-top: -4vh;
  }
  .Menu-link:hover .mail {
    display: block;
    font-weight: 150;
    font-size: 14px;
    padding:5px;
    position: absolute;
    display: block;
    margin-left: 7vh;
    border: 1px solid #00fd97;
    border-radius: 2px;
    margin-top: -4vh;
  }
}
