ul {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  display: block;
  list-style-type: none;
}

li {
  display: list-item;
  text-align: inherit;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #041f60;
}

.about {
  margin-left: 10px;
  display: flex;
  color: white;
  font-size: 35px;
  font-weight: 400;
  margin-top: 15vh;
}

.about span:nth-child(3) {
  margin-left: 3vh;
  color: #b4f5f0;
  font-size: 6vh;
}

.tags {
  color: #515152;
  margin-left: 4vh;
  font-size: 15px;
  font-family: "La Belle Aurore", cursive;
  position: absolute;
}

.tags .tags-top {
  margin-top: 8vh;
}
.knowledge {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 25vh;
}

.knowledge-title {
  font-size: 5vh;
  margin-left: 1.5vh;
  font-weight: 400;
}
 .knowledge img {
   width: 8vh;
   margin-left: 1.5vh;
   margin-top: 2vh;
 }

 .knowledge-tools {
  margin-left: 1.5vh;
   color: #fff;
   font-family: "Open Sans",sans-serif;
   font-weight: 300;
 }

 .hobbies {
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 .hobbies h2 {
  font-size: 5vh;
  margin-left: 1.5vh;
  font-weight: 400;
 }

 .hobbies img {
  width: 8vh;
  margin-left: 1.5vh;
  margin-top: 2vh;
 }

 .hobbies-list{
   margin-left: 1.5vh;
   line-height: 10px;
   color: #fff;
   font-family: "Open Sans",sans-serif;
   font-weight: 300;
 }

@media (min-width: 600px) {
  ul {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    display: block;
    list-style-type: none;
  }

  li {
    display: list-item;
    text-align: inherit;
  }

  a {
    text-decoration: none;
    font-weight: 600;
    color: #041f60;
  }

  p {
    margin-left: 80px;
    font-weight: 300;
    color: white;
  }
  .about {
    margin-left: 8vh;
    display: flex;
    color: white;
    font-size: 6vh;
    font-weight: 400;
    position: relative;
  }

  .about-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 5vh;
  }

  .about span:nth-child(3) {
    margin-left: 3vh;
    color: #b4f5f0;
    font-size: 8vh;
  }
  .tags {
    color: #515152;
    margin-left: 10vh;
    font-size: 18px;
    font-family: "La Belle Aurore", cursive;
    margin-top: 10vh;
  }

  .knowledge {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25vh;
  }

  .knowledge-title {
    font-size: 5vh;
    margin-left: 8vh;
    font-weight: 400;
  }
   .knowledge img {
     width: 8vh;
     margin-left: 7vh;
     margin-top: 2vh;
   }

   .knowledge-tools {
     margin-left: 8vh;
     color: #fff;
     font-family: "Open Sans",sans-serif;
     font-weight: 300;
   }
  
   .hobbies {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   .hobbies h2 {
    font-size: 5vh;
    margin-left: 8vh;
    font-weight: 400;
   }

   .hobbies img {
    width: 8vh;
    margin-left: 7vh;
    margin-top: 2vh;
   }

   .hobbies-list{
     margin-left: 8vh;
     line-height: 10px;
     color: #fff;
     font-family: "Open Sans",sans-serif;
     font-weight: 300;
   }
}