
ul {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  display: block;
  list-style-type: none;
}

li {
  display: list-item;
  text-align: inherit;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #041f60;
}

.about-container-items-p {
  font-weight: 300;
  color: white;
  margin-left: 10px;

 
}
.about-container-list p {
  font-weight: 300;
  color: white;
}
.about {
  color: white;
  font-size: 6vh;
  font-weight: 400;
  position: relative;
  margin-left: 10px;

}

.about-container-items {
  position: relative;
}

.about span:nth-child(3) {
  margin-left: 3vh;
  color: #b4f5f0;
  font-size: 8vh;
}

.about-container-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20vh;

}

.knowledge, .hobbies, .tools {
  box-sizing: border-box;
  border: 4px solid #8d8d8d;
  width: 80%;
  box-shadow: 10px 10px 5px 0 #181818;;
  text-align: center;   
  border-radius: 4px;
  margin: 5px;
}

.knowledge-title,
.hobbies-title,
.tools-title {
  font-weight: 400;
}

.hobbies h2,
.knowledge h2,
.tools h2 {
  font-weight: 400;
  color: #b4f5f0;
}

.hobbies-list,
.tools-list,
.knowledge-list {
  line-height: 20px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  align-items: center;
}


@media (min-width: 600px) {
  ul {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    display: block;
    list-style-type: none;
  }

  li {
    display: list-item;
    text-align: inherit;
  }

  a {
    text-decoration: none;
    font-weight: 600;
    color: #041f60;
  }

  .about-container-items-p{
    font-weight: 300;
    color: white;
    margin-left: 80px;
   
  }
  .about-container-list p {
    font-weight: 300;
    color: white;
  }
  .about {
    margin-left: 13vh;
    color: white;
    font-size: 6vh;
    font-weight: 400;
    position: relative;
  }

  .about-container-items {
    position: relative;
    margin-left: 5vh;
  }

  .about span:nth-child(3) {
    margin-left: 3vh;
    color: #b4f5f0;
    font-size: 8vh;
  }
  .tags {
    display: none;
    color: #515152;
    margin-left: 10vh;
    font-size: 18px;
    font-family: "La Belle Aurore", cursive;
    margin-top: 10vh;
  }

  .about-container-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20vh;
    margin-left: 10vh;
  }

  .knowledge, .hobbies, .tools {
    box-sizing: border-box;
    border: 4px solid #8d8d8d;
    width: 60%;
    box-shadow: 10px 10px 5px 0 #181818;;
    text-align: center;   
    border-radius: 4px;
  }

  .knowledge-title,
  .hobbies-title,
  .tools-title {
    font-size: 5vh;
    font-weight: 400;
  }

  .hobbies h2,
  .knowledge h2,
  .tools h2 {
    font-size: 5vh;
    font-weight: 400;
    color: #b4f5f0;
  }

  .hobbies-list,
  .tools-list,
  .knowledge-list {
    line-height: 20px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    align-items: center;
  }
}
/*
    .knowledge img {
     width: 8vh;
     margin-left: 7vh;
     margin-top: 2vh;
   }
   .hobbies img {
    width: 8vh;
    margin-left: 7vh;
    margin-top: 2vh;
   }
   .bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    font-size: 40px;
    display: flex;
  }
  .bubble {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    opacity: 0.5;
    justify-content: center;
    color: white;
    animation: flying 10s infinite;
  }

  .bubble:nth-child(1) {
    right: 30%;
    animation-duration: 8s;
  }
  .bubble:nth-child(2) {
    right: 40%;
    animation-duration: 7s;
  }
  .bubble:nth-child(3) {
    left: 50%;
    animation-duration: 6s;
  }
  .bubble:nth-child(4) {
    right: 60%;
    animation-duration: 5s;
  }
  .bubble:nth-child(5) {
    left: 70%;
    animation-duration: 4s;
  }


  @keyframes flying {
    0% {
      bottom: -80px;
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      bottom: 1080px;
      transform: translateX(-200px);
    }
  }*/
