body {
  margin: 0;
  font-family: "Open Sans",sans-serif;
  background-color:#222;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
