.footer {
  display: none;
}

@media (min-width: 600px) {
  .footer {
    margin-top: 86vh;
    position: absolute;
    display: grid;
    grid-gap: 20px;
    margin-left: 15px;
  }

  .icon_footer {
    width: 23px;
    opacity: 9;
  }
}
