.projects-header {
  color: #00fd97;
  font-size: 6vh;
  margin-top: 60px;
  text-align: start;
  margin-left: 40px;
  margin-bottom: 40px;
  }
  
  .projects {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 100px;
    width: 80%;
  }
  
  @media (min-width: 600px) {
    .projects {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 50%;
    }
  
    .projects-header {
      margin-left: 100px;
      margin-top:40px;
    }
  }