.projects{
  display: grid;
  grid-gap: 20px;

}

.projects-header{
    color: white;
    font-size: 6vh;
    font-weight: 400;
    position: relative;
    margin-left: 10px;
    margin-top: 15vh;
}
.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  border: 4px solid #b4f5f0;
  border-radius: 6px;
  width: 80%;
}

.projects-picture img {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 50px;
}

.projects-details {
  color: white;
  font-size: 13px;
}

.projects-link {
  margin-left: 20px;
}

.projects a {
  text-decoration: none;
  color: #8d8d8d;
  font-size: 15px;
  padding-bottom: 20px;
}

@media(min-width: 600px) {

  .projects {
    display: flex;
    margin-top: 8%;
  }
  .projects-header {
    color: white;
    font-size: 6vh;
    font-weight: 400;
    margin-left: 80px;
  }

 .projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  width: 100%;
  border: 4px solid #b4f5f0;
  margin-left: 80px;
  grid-gap: 40px;
  border-radius: 6px;
 }
  
  .projects-picture img{
   width: 100%;
   padding: 10px;
  }

  .projects-details {
    color: white;
    margin: 5px;
    font-size: 20px;
  }

  .projects a {
    text-decoration: none;
    color: #8d8d8d;
    margin-top: 50px;
    font-size: 20px;
  }
}

